<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <record id="action_open_libro" model="ir.actions.act_window">
        <field name="name">Libros</field>
        <field name="res_model">libro</field>
        <field name="view_mode">list,form</field>
    </record>

    <menuitem id="menu_principal_libros" name="Libros"/>
    <menuitem id="menu_horizontal_libros" name="Mis modelos" parent="menu_principal_libros"/>
    <menuitem id="menu_vertical_libros" name="Libros" parent="menu_horizontal_libros" action="action_open_libro"/>
</odoo>
